@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Courier New';
    font-size: small;
}
.quad {
    width: 50vw;
    height: 50vw;
};

#eat {
    position: fixed;
    color: white;
    background-color: #6AB187; 
    top: 0; 
    left: 0;
};

#fight {
    position: fixed;
    color: white;
    background: #EA6A47;
    top: 50%;
    left: 0;
};

#play {
    position: fixed;
    color: white;
    background-color: #F9D423;
    top: 0; 
    left: 50%;
};

#sleep {
    position: fixed;
    color: white;
    background-color: #488A99;
    top: 50%;
    left: 50%;
};


// Progress Bar 
// #eatProgress {
    // height: 30px;
    // text-align: center; /* To center it horizontally (if you want) */
    // line-height: 40px; /* To center it vertically */
    // color: white;
    //   }

  .button {
    width: 20%;
    height: 20px;
    border-radius: 6px;
    margin: 1em;
    background-color: grey;
    color: white;
    border: none;
   
    }

// .eatContainer {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: space-around;
//     }

// styling on my pet
#pet {
    position: absolute;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    top: 25vh;
    right: 0;
    left: 0;

    img {
        width: 100%;
        height: 100%;
    }
}
